---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Codron Julien" description=" Codron Julien">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Julien Codron at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Ancien aide-soignant, cela fait 7 ans que j'ai entamé ma reconversion en tant que développeur informatique,
						dans une volonté de poursuivre ma passion pour les jeux vidéo, l'esport et les nouvelles technologies.
						Diplômé d'un Master en Informatique, et grâce aux compétences techniques que j'ai acquises lors de mes précédentes expériences professionnelles, 
						je souhaite pouvoir m'impliquer pleinement dans le développement d'un jeu vidéo au sein d'un studio.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>
						<i>2020 - 2022</i>
						<br><strong>Master Informatique ILJ (Ingénierie Logicielle pour les Jeux)</strong>
						<br>Université Artois Lens
					</p>
					<p>
						<br><i>2017 - 2020</i>
						<br><strong>Licence Informatique</strong>
						<br>Université Artois Lens
						
					</p>
					<p>
						<br><i>2015 - 2017</i>
						<br><strong>Diplome d’aide-soignant </strong>
						<br>IFSI Croix Bleu d’Arras
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Savoir faire</h2>
				<div class="content">
					<p>
						En tant que développeur Unity, j'ai acquis une expertise approfondie dans divers 
						aspects du moteur, notamment l'intégration d'éléments 3D et 2D, le développement
						d'interactions, l'utilisation d'UnityEvent, la conception d'UI, ainsi que le 
						développement pour la réalité virtuelle. J'ai également une solide expérience 
						en profiling et optimisation, ainsi que des connaissances sur des sujets connexes
						tels que l'éclairage, les particules et les shaders. Ma formation m'a permis
						d'étudier la création et le fonctionnement d'un moteur 3D, y compris des 
						techniques telles que la rasterisation, le culling et la physique, ainsi
						que l'architecture de projet pour les jeux, le principe de gameloop et de manager.
						En complément, mon parcours en informatique m'a donné une base en développement système, en intelligence artificielle et développement web, que j'ai pu mettre en pratique lors d'un stage de six mois pour ce dernier.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Savoir être</h2>
				<div class="content">
					<p>
						Grâce à mes nombreuses expériences professionnelles, notamment en parallèle de mes études, 
						j'ai développé des qualités essentielles telles que le travail en équipe, l'autonomie et 
						la rigueur. J'ai également appris l'importance de l'environnement de travail, qui joue pour moi un rôle 
						crucial dans mon épanouissement. Passionné par les nouvelles technologies, je suis curieux et
						constamment en quête de connaissances. Je me tiens informé des actualités, des mises à jour 
						majeures d'Unity et des projets innovants réalisés par différents développeurs et studios, 
						ce qui nourrit ma soif d'apprendre et d'évoluer.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
